.user__list {
    /* width: 600px; */
    flex: 0.4;
    min-width: fit-content;
    overflow-y: scroll;
    /* align-items: center;
    display: flex;
    flex-direction: column; */
    /* align-items: flex-start; */
}

.user__list::-webkit-scrollbar {
    display: none;
}