.user {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.user__info {
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user__item {
    width: 250px;
    height: auto;
    color: black; 
    font-size: 24px;
}

.user__img {
    border: 3px solid black;
}

.user__stats {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user__name {
    font-size: 22px;
    line-height: 30px;
}

.user__btn {
    max-width: 100px;
}

.user__btn span {
    margin-left: 20px;
    font-size: 18px;
    line-height: 26px;
    vertical-align: super;
}

.user__btn .nes-icon.is-medium {
    transform: scale(2);
}

/* .item__List {
    display: flex;
    flex-direction: column;
    align-items: center;
} */