.user {
    width: 300px;
    border-bottom: 10px solid #1967D2;
}

.user__item {
    width: 250px;
    height: auto;
    color: black; 
    font-size: 24px;
}

.user__img {
    border: 3px solid black;
}

.user__btn {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 30%;
}

.item__List {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}