.user {
    width: 600px;
    height: auto;
    margin-bottom: 30px;
}

.user__info {
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__item {
    width: 250px;
    height: auto;
    color: black; 
    font-size: 24px;
}

.user__avatar {
    margin: auto;
}

.user__stats {
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user__name {
    font-size: 22px;
    line-height: 30px;
}

.user__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__btn-text,
.user__btn-num {
    font-size: 18px;
    line-height: 26px;
    vertical-align: super;
}

.user__btn-text {
    width: 145px;
    text-align: left;
}

.user__btn-num {
    width: 60px;
    text-align: right;
}

.user__btn .nes-icon.is-medium {
    transform: scale(2);
}