.day__container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    align-items: center; 
    padding-right: 50px;   /* padding-right: 150px; */
}

.day__container span {
    margin-bottom: 5px;
    font-weight: 400;
}

.day__container img {
    width: 100px; 
    height: auto;
}