.selection {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    align-items: center; 
}

.selection__title,
.selection__subtitle {
    margin-bottom: 5px;
    font-size: 14px;
}

.selection__img {
    width: 100px; 
    height: auto;
}