.top__list-item {
	height: 260px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.list-item__img-wrapper {
	flex: 1 0 150px;
	align-self: center;
}

.list-item__img {
	width: 150px; 
	height: auto;
}

.list-item__info {
	max-width: 370px;
	flex: 2 0 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.list-item__info .nes-badge {
	width: 4em;
	align-self: flex-end;
    margin-right: 35px;
}

.list-item__title {
	height: 50%;
	font-size: 18px;
	line-height: 26px;
}

.list-item__rating {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	align-self: flex-end;
}

.item__rating-text {
	font-size: 18px;
	line-height: 26px;
}