.header {
    background-color: #515868;
    color:#FFF;
}

.header__content {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: calc(5px + 2vmin);
}

.logo {
    width: 200px;
    height: auto;
    background-color: #F1F2FE;
    border-radius: 50px;
}