.App {
  height: 100vh;
  text-align: center;
  background-color: #F1F2FE;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  padding: 10px 30px;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  width: 200px;
  height: auto;
  background-color: #F1F2FE;
  border-radius: 50px;
}

.main {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

button {
  background-color: #E5E5E5;
}

ul, li {
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}