.App {
  height: auto; /*??*/
  /* display: flex; */
  text-align: center;
  background-color: #F1F2FE;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  padding: 10px 30px;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  /* color: #ACA1C5; */
}

.logo {
  width: 200px;
  height: auto;
  background-color: #F1F2FE;
  border-radius: 50px;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
}

.section > div {
  flex-basis: 500px;
}

.main {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  /* overflow-y: scroll; */
  /* align-items: center; */
  /* margin: 0 auto; */
}

.main::-webkit-scrollbar {
    display: none;
}

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #97B9F2;
  /* position: fixed; */
  /* margin: 0 auto; */
}

.user-btn {
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #1967D2;
    border-radius: 30px;
}

ul, li {
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}